@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Allow changing font family via CMS */
  html {
    font-family: "Bradesco Sans", sans-serif;
  }

  /** Remove default styles from input[type=number] */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }

  @keyframes progress-frame {
    0% {
      --dot-progress: 0%;
    }

    to {
      --dot-progress: 100%;
    }
  }
}

@layer components {
  .group:disabled .group-disabled\:animate-progress {
    animation: progress-frame ease normal;
  }

  .scrollbar::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #00000033;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #888;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    border-radius: 4px;
    background-color: #a1a1a1;
  }

  .breadcrumbs > ul > li + *:before,
  .breadcrumbs > ol > li + *:before {
    content: "/";
    transform: none;
    color: #161616;
    border: none;
    height: auto;
  }

  .custom-accordion {
    width: 100%;
  }

  .custom-accordion-title {
    width: 100%;
    cursor: pointer;
  }

  .custom-accordion-body {
    display: grid;
    grid-template-rows: 0fr;
    transition: 250ms grid-template-rows ease;
  }

  .custom-accordion .custom-accordion-input:checked ~ .custom-accordion-body {
    grid-template-rows: 1fr;
  }

  .custom-accordion
    .custom-accordion-input:checked
    ~ .custom-accordion-title
    .custom-accordion-indicator {
    transform: rotate(180deg);
    transform-origin: center;
    transition: transform 250ms ease;
  }

  .custom-accordion-body > .custom-accordion-wrapper {
    overflow: hidden;
  }
}
